/* Created by: Mr. Coxall
* Created on: Sep 2020
* This file contains the CSS for index.html
*/

.mdl-layout__header-row {
  align-items: center;
  justify-content: center;
}

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
}

p {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  padding-top: 15pt;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  h1 {
    font-size: 25px;
    color: navy;
    text-align: center;
    
  }
  p1 {
  font-size: 15px;
  color: navy;
  text-align: center;
}

  h2 {
     font-size: 25px;
    color: navy;
    text-align: center;
    
  }

  p2 {
    font-size: 15px;
    color: navy;
    text-align: center;
  }

  h3 {
     font-size: 25px;
    color: navy;
    text-align: center;
    
  }

  p3 {
    font-size: 15px;
    color: navy;
    text-align: center;
  }